body {
    font-family: 'Comic Sans MS';
}

h1 {
    text-align: center;
    padding-top: 5%;
    font-size: 10em;
    font-weight: lighter;
    margin:none;
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


div {
    height: 100%;
    margin-left: 33.5%;
    width: 50%;
}

img {
    width: 65%;
    height: 65%;
}
